
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Faculty+Glyphic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    user-select: none;
}

:root {
    --primaryBackColor: #10505E;
    --SecprimaryBackColor: #0a4a58;
    --nanbarColor: #092F38;
    --linkColor: #f37e1e;
}

body,
html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section {
    width: 100vw;
    padding-bottom: 20px;
}

.home {
    height: 100vh;
}

.container {
    background: var(--primaryBackColor);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--nanbarColor);
    align-items: center;
    position: fixed;

}

.navbar a {
    text-decoration: none;
    margin: 20px 15px;
    color: white;
    font-weight: 600;
    transition: .1s linear all;
}

.navbar a:hover {
    color: black;
}

.profile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.profile-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img .icons {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    margin-right: 10px;
}

.icons a {
    text-decoration: none;
    color: white;
}

.icons i {
    margin: 15px 0;
    transition: .1s linear all;
}

.icons i:hover {
    color: black;
}

.profile img {
    width: 250px;
    border-radius: 10px;
    animation: 5s borderMoving linear infinite;
}

.profile .name {
    letter-spacing: 3px;
    margin: 10px;
}

.profile p {
    width: 90%;
    text-align: center;
    font-weight: 500;
}

@keyframes borderMoving {

    20% {
        border-radius: 51px 11px 11px 11px;
    }

    40% {
        border-radius: 51px 50px 11px 11px;
    }

    60% {
        border-radius: 51px 50px 51px 11px;
    }

    40% {
        border-radius: 51px 50px 51px 51px;
    }

    20% {
        border-radius: 10px;
    }

}


/* ----------------------------------------- */
.projects {
    height: 100%;
    background: var(--SecprimaryBackColor);
    padding-top: 30px;

}

.project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.project-list .project {
    width: 90%;
    padding: 20px 10px;
    box-shadow: #ccdbe898 3px 3px 6px 0px inset, #ffffff2c -3px -3px 6px 1px inset;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    gap: 15px;
    color: white;
}

.project .imageBox{
    height: 300px;
    width: 230px;
    padding: 10px;
}
.imageBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.project .project-detail{
    text-align: center;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 

.project-detail a{
    margin-top: 10px;
    padding: 0 20px;
    border-radius: 5px;
    text-align: center;
    color: white;
    display: inline-block;
    text-decoration: none;
    transition: .1s linear all;
    font-size: 20px;
    font-weight: 500;
    background-color: #f37e1e;
    outline: none;
}

.project-detail h3{
    text-align: center;
    font-size: 1.5rem;
    color: #f37e1e;
}
.project a:hover {
    color: var(--linkColor);
    background-color: white;
}

.title{
    font-size: 1.8rem;
    text-align: center;
    margin:0 0 10px 0;
    color: white;
    text-transform: uppercase;
}

@media (max-width:768px) {
    .project{
        height: max-content;
        flex-direction: column;
    }
    .imageBox img{
        height: 100%;
    }
    .project-detail{
        flex-direction: row;
        width: 100%;
    }
}


/* ---------------Contact--------------------- */
.contact{
    height: 100vh;
    background-color: #095161;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contactBox{
    width: 400px;
    height: 500px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: #ccdbe898 3px 3px 6px 0px inset, #ffffff2c -3px -3px 6px 1px inset;
    
}

form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

input,textarea{
    width: 70%;
    height: 35px;
    padding-left: 10px;
    border-radius: 10px;
    outline: none;
    border:none;
    font-weight: 500;
    background:transparent;
    color: white;
    box-shadow: #ccdbe898 3px 3px 6px 0px inset, #ffffff2c -3px -3px 6px 1px inset;
}

textarea{
    height: 30%;
    padding: 10px;
    resize: none;
}

.submit{
    width: 200px;
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 10px;
}